body {
    color: #ccc;
    background: #000;
}

/* typography */
h1 {
	color: rgba(255,255,255,.7);
}

h2 {
	color: rgba(255,255,255,.8);
}

/* links & tooltips */
a {
    color: #ccc;
    border-bottom: 2px solid #fff;
}

.tooltip {
    color: #999;
	border-bottom: 2px dashed hsla(166, 98%, 37%, 1);
}

.mdl-tooltip {
    background-color: #000;
}

#motionToggler, #social-links a {
	color: rgba(255,255,255, .8);
}

#motionToggler:hover, #social-links a:hover {
    color: #fff;
}

/* images */
.thumb-overlay { 
	background-color: rgba(0,0,0, .6);
    color: #fff;
}

.thumb-text {
    background-color: rgba(0,0,0, .8);
}

/* material overrides */
.mdl-button  {
    color: hsla(183, 100%, 32%, 1);
}

/* sections */
.pt-page-2 section {
    background-color: #111;
    color: #ccc;
    scrollbar-color: hsla(183, 100%, 32%, 1) #111;
}

section h2 {
    color: hsla(183, 100%, 32%, 1);
}

section h3 {
    color: hsla(166, 98%, 37%, 1);
}

/* nav */
.pt-triggers {
	background-color: #111;
}
.dl-menu .trigger-li {
    color: #fff;
}
.dl-menu .trigger-li:hover {
    border-top: 3px solid #fff;
}
.current-li {
	border-bottom: 3px solid #009ba3 !important;
}

/* gallery */
.gallery {
    background-color: #111;
    border-radius: 15px 0 0 0;
}
.gallery ul li {
    background-color: #000;
    filter: drop-shadow(5px 5px 10px rgba(255,255,255,.2));
}
.gallery ul li a img {
    opacity: .8;
}
.gallery ul li a:hover img {
    opacity: 1;
}
.image-overlay {
    color: #000;
}
.modal {
    background-color: #eee;
    scrollbar-color: #20232c #eee;
}
.modal h1 {
    color: #20232c;
}
.modal .button {
    background-color: #20232c;
    border: 2px solid #20232c;
}
.modal .button:hover {
    background-color: #fff;
    color: #20232c;
}
.modal .description .button:hover {
    color: #20232c;
}
.close { 
    background-color: #eee;
}

@media only screen and (max-width: 800px) {
    .mobile-nav {
        background-color: #111;
    }
    .dl-menu .trigger-li {
        color: #000;
    }
    .dl-menu .trigger-li:hover {
        border-top: none;
        background-color: #eee;
    }
    .current-li {        
        border-bottom: 2px solid #eee !important;
        color: #666;
    }
    .pt-triggers {
        background-color: transparent;
    }
    .gallery {
        border-radius: 15px 15px 0 0;
    }
    h1, h2 {
        background-color: #000;
    }
    section h1, h2 {
        background-color: transparent;
    }
}