
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');

  .animation-container {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
  }
  
  .animation-container span {
    position: absolute;
    font-family: 'JetBrains Mono', monospace;
    top: 0;
    color: #fff;
    font-size: 1rem;
    text-shadow: 0 0 1px white;
    user-select: none;
    pointer-events: none;
    cursor: default;
    z-index: 1;
    opacity: 0;
    will-change: transform, opacity;
    animation-timing-function: ease-out;
    animation-name: float;
    letter-spacing: 0.2rem;
  }
  
  @keyframes float {
    0% {
      opacity: 0;
      top: 100%;
    }
    50% {
      opacity: .5;
    }
    100% {
      opacity: 0;
      transform: none;
    }
  }