
  .row {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    clear: both;
  }
  .gallery {
    position: relative;
    overflow: hidden;
  }
  .gallery h2 {
    text-align: center;
  }
  .gallery ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .gallery ul li {
    width: 25%;
    overflow: hidden;
    align-content: center;
    padding: 0;
    margin: 2.5%;
  }
  .sm-mobile ul li {
    width: 15%;
  }
  .gallery ul li img {
    width: 100%;
    filter: grayscale(1);
  }
  .gallery ul li img:hover {
    filter: none;
  }
  .gallery ul li a {
    position: relative;
    border: none;
  }
  .image-overlay {
    position: absolute;
    top: 0%;
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    font-size: 3rem;
    text-align: center;
  }
  .sm-mobile .image-overlay {
    margin-bottom: 90%;
  }
  a:hover .image-overlay {
    opacity: 1;
  }
  .modal {
    scrollbar-width: medium;
    color: #20232c;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 300;
    line-height: 2rem;
    position: absolute;
    width: 80vw;
    height: 80vh;
    left: 10vw;
    top: 10vh;
    border-radius: 15px 0 0 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 99999;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .modal .description a {
    color: #20232c;
    border-bottom: 2px solid #20232c;
    font-weight: 600;
  }
  .modal .description a:hover {
    border-top: 2px solid #20232c;
  }
  .modal .row {
    overflow-y: scroll;
    scrollbar-width: medium; 
    height: 100%;
    width: 100%;
  }
  .modal:last-of-type .row {
    overflow-x: hidden;
  }
  .modal .col {
    padding: 2% 2% 0% 2%;
  }
  .modal img {
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 2.5% 15%;
  }
  .mobile-screenshots {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .modal .lg-mobile {
    width: 20%;
    margin: 0 0 5% 0;
  }
  .modal .description {
    float: left;
    width: 85%;
    max-height: 100%;
    overflow: auto;
    margin-left: 5%;
  }
  .modal h1 {
    font-size: 2rem;
    line-height: 2.3;
    letter-spacing: 0.2rem;
    padding: 1rem 0 1rem 0;
    margin: 0;
  }
  .modal h1 .right {
    float: right;
  }
  .modal .tools {
    font-size: 1.2rem;
    margin-top: 0.4rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    background-color: transparent;
  }
  .modal .button {
    border-radius: 20px;
    font-family: inherit;
    font-size: 0.9rem;
    letter-spacing: inherit;
    padding: 0.8rem;
    cursor: pointer;
  }
  .modal .description .button {
    color: #fff;
  }
  .modal.item_open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
  .close {
    width: 4rem;
    height: 4rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%2320232c'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 2rem;
    top: 1rem;
    opacity: 1;
    z-index: 1000;
    border-radius: 50%;
    border:2px solid #20232c;
  }
  .close:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23ffffff'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z'/%3E%3C/svg%3E");
    background-color: #20232c;
  }
  /* backdrop when modal is open */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.9);
    display: none;
    z-index: 99995;
  }

@media only screen and (max-width: 800px) {
  .modal {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
  .modal h1 {
    font-size: 1.5rem;
    background-color: transparent;
    flex-direction: column;
    display: flex;
  }
  .modal h1 .right {
    float: none;
    display: block;
  }
  .gallery ul li {
    width: 100%;
  }
}