@media only screen and (max-width: 1500px) {
    h1 {
        font-size: 3rem;
    }
    h2, li {
        font-size: 1.5rem;
    }
    .mobile-nav {
        display: none;
    }    
}

@media only screen and (max-width: 800px) {
    html, body { min-height: 100%; }
    body {
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: auto 100%;
    }
    h1 {
        font-size: 2.2rem;
    }
    h2, li {
        font-size: 1.4rem;
    }
    .large-screens {
        display: none;
    }
    .mobile-nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999;
        height: 4rem;
    }
    .pt-triggers {
        position: relative;
        top: 0;
        bottom: auto;
        padding: 0;
        justify-content: space-between;
    }
    .mdl-menu  {
        padding: 0;
        margin: 0;
    }
    .dl-menu {
        justify-content: start;
        margin: 0;
        width: 50%;
        padding: 0;
    }
    .dl-menu .trigger-li, .current-li {
        font-size: 1.2rem;
        border-top: none;
        border-bottom: 2px solid #eee;
        padding: 1rem;
    }
    .dl-menu .trigger-li:last-child {
        border: none;
    }
    #menu-toggle {
        margin: 1rem;
    }
    #togglers {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: right;
        padding-right: 1rem;
    }
    .pt-page {
        padding: 0 2rem;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: calc(100vw - 4rem);
        height: calc(100% + 4rem);
        min-height: 100%;
        overflow: scroll;
        margin-top: 4rem;
    }
    .pt-page-1 { 
        flex-direction: column;
    }
    .pt-page-2 section {
        height: auto;
        width: calc(100vw - 8rem);
        padding: 2rem;
        margin-bottom: 4rem;
        border-radius: 15px 15px 0 0;
    }
    #contact {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    section {
        margin-bottom: 4rem;
    }
    #social-links , #toggle-motion {
        display: none;
    }
    .mobile-links {
        z-index: 9999;
    }
    .mobile-page {
        padding-top: 25%;
    }
    #smallMotionToggler {
        margin-right: 1rem;
    }
    #contact-social-links {
        display: flex;
        justify-content: space-evenly;
        margin-top: 2rem;
    }
    #contact-social-links a {
        border: none;
    }
}