body {
    color: #fff;
    background: #02bb90;
    background: linear-gradient(135deg, #02bb90 0%, #009ba3 64%);
    background: -moz-linear-gradient(135deg, #02bb90 0%, #009ba3 64%);
    background: -webkit-linear-gradient(135deg, #02bb90 0%, #009ba3 64%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#02BD92", endColorstr="#0099A1", GradientType=1 );
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: auto 100%;
	background-attachment: fixed;
}

/* typography */
h1 {
	color: rgba(255,255,255,.6);
}

h2 {
	color: rgba(255,255,255,.5);
}

/* links & tooltips */
a {
    color: #009ba3;
    border-bottom: 2px solid #02bb90;
}

.tooltip {
    color: #666;
	border-bottom: 2px dashed #02bb90;
}

.mdl-tooltip {
	color: #000;
    background-color: #eee;
}

#motionToggler, #social-links a {
	color: rgba(255,255,255, .8);
}

#motionToggler:hover, #social-links a:hover {
    color: #fff;
}

/* images */
.thumb-overlay { 
    color: #009ba3;
}

.thumb-text {
    background-color: rgba(255,255,255, .8);
}

/* material overrides */
.mdl-button  {
    background-color: rgba(255,255,255,.5);
    color: #009ba3;
}

/* sections */
.pt-page-2 section {
    background-color: #fff;
    color: #000;
    scrollbar-color: #009ba3 #fff;
}

.pt-page-4 a {
    color: #fff;
}

section h2 {
    color: #009ba3;
}

section h3 {
    color: #02bb90;
}

/* nav */
.pt-triggers {
	background-color: #fff;
}
.dl-menu .trigger-li {
    color: #009ba3;
}
.dl-menu .trigger-li:hover {
    border-top: 3px solid #009ba3;
}
.current-li {
	border-bottom: 3px solid #ccc !important;
}

/* gallery */
.gallery ul li {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #fff;
}
.gallery ul li a:hover img {
    opacity: 1;
}
.image-overlay {
    color: #009ba3;
}
.modal {
    background-color: #fff;
    scrollbar-color: #009ba3 #fff;
}
.modal h1 {
    color: #009ba3;
}
.modal .button {
    background-color: #009ba3;
    border: 2px solid #009ba3;
}
.modal .button:hover {
    background-color: #fff;
    color: #009ba3;
    border: 2px solid #009ba3;
}
.modal .description .button:hover {
    color: #009ba3;
}
.close { 
    background-color: #fff;
}
@media only screen and (max-width: 800px) {
    .mobile-nav {
        background-color: #fff;
        color: #666;
    }
    #togglers, #motion-toggler {
        color: #666;
    }
    .dl-menu .trigger-li {
        color: #009ba3;
    }
    .dl-menu .trigger-li:hover {
        border-top: none;
        background-color: #eee;
    }
    .current-li {        
        border-bottom: 2px solid #eee !important;
        color: #666;
    }
    .pt-triggers {
        background-color: transparent;
    }
    h1, h2, small {
        color: #fff;
    }
}