@import url("https://fonts.googleapis.com/css?family=Dosis:100,200,300,400");

  .animation-container {
    position: absolute;
    top: 20vh;
    height: 80vh;
    width: 100%;
    z-index: 1;
  }
  
  .animation-container span {
    position: absolute;
    top: 0;
    color: #fff;
    font-size: 1rem;
    font-family: 'Dosis';
    text-shadow: 0 0 1px white;
    user-select: none;
    pointer-events: none;
    cursor: default;
    z-index: 1;
    opacity: 0;
    will-change: transform, opacity;
    animation-timing-function: ease-out;
    animation-name: float;
    letter-spacing: 0.2rem;
  }
  
  @keyframes float {
    0% {
      opacity: 0;
      top: 100%;
    }
    50% {
      opacity: .5;
    }
    100% {
      opacity: 0;
      transform: none;
    }
  }