  /* top bar */
  .nav-container {
    background-color: #0071E1;
    background: linear-gradient(90deg, #0071E1 0%, #6DADED 100%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
  /* navbar */
  .navbar-brand{ 
    color: #feda7a;
  }
  .nav-link {
    color: #fff;
  }
  .navbar a:hover {
    color: #000;
  }
  .navbar {
    height: 60px;
    color: #fff;
  }
  /* breadcrumb */
  .breadcrumb a {
    color: #0055E1;
  }
  .breadcrumb a:hover {
    color: #000;
    text-decoration: none;
    border-bottom: 2px solid #000;
  }
  .breadcrumb {
    color: #fff;
    padding: .8rem 1.5rem .5rem 1.5rem;
    text-align: center;
    border-radius: 0;
  }
  .breadcrumb-item+.breadcrumb-item::before {
    color: #0055E1;
  }
  .breadcrumb-item.active{
    color:#0055E1;
    font-weight: 700;
  }