body {
    font-family: "Archivo", sans-serif;
    color: #444;
    font-weight: 300;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1025%26quot%3b)' fill='none'%3e%3cpath d='M2067.54 906.66C1922.9 905.72 1786.24 771.66 1504.95 771.66 1223.65 771.66 1289.14 949.85 942.35 906.66 595.57 863.47 622.37 80.27 379.76-57.77' stroke='rgba(238%2c 238%2c 238%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M2125.12 747.77C1880.01 743.13 1595.32 448.71 1199.58 423.77 803.84 398.83 893.39 14.44 736.81-19.27' stroke='rgba(238%2c 238%2c 238%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M2170.29 272.15C2000.73 298.11 1920.69 710.06 1637.24 704.15 1353.78 698.24 1323.95-8.01 1104.18-114.57' stroke='rgba(238%2c 238%2c 238%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M2096.87 687.05C1882.09 667.79 1696.7 255.61 1369.97 222.65 1043.24 189.69 1118.56-31.5 1006.52-45.48' stroke='rgba(238%2c 238%2c 238%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1920.86 562.74C1705.39 565.41 1531.67 818.92 1095.47 811.14 659.28 803.36 552.68 61.41 270.09-3.06' stroke='rgba(238%2c 238%2c 238%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1025'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

  }
  .inner-container {
    min-height: calc(100vh - 215px);
  }
  /* alerts */
  .alert {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 15px;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;  
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .alert-primary { 
    color: #000;
    background: linear-gradient(270deg, rgba(30, 190, 224, 0.20) 0%, rgba(30, 158, 224, .80) 100%);
  }
  .alert-heading .material-icons-outlined {
    font-size: 2rem;
    vertical-align: middle;
  }
  .alert-danger { 
    color: rgba(229, 36, 78, 0.9);
    border: 2px solid rgba(229, 36, 78, 0.9);
    background-color: rgba(229, 36, 78, 0.2);
  }
  .alert-danger .alert-heading {
    color: rgba(229, 36, 78, 0.9);
 
  }
  /* font */
  strong {
    font-weight: 600;
  }
  .text-primary {
      color: #0071E1 !important;
  }
  .text-secondary {
    color: #ccc !important;
  }
  /* backgrounds */
  .bg-primary {
      background-color: #0071E1 !important;
  }
  .bg-yellow {
      background-color: #feda7a;
  }
  .bg-white-glass {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: rgb(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  /* buttons */
  .btn {
    border-radius: 15px;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 0;
  }
  .btn-primary {
    background-color: #0071E1;
  }
  .btn-danger {
    background-color: #E1417B;
  }
  /* generic card */
  .card-header {
    font-size: 1.6rem;
    color: #686e74;
    background-color: transparent;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  .card-body {
    background-color: transparent;
  }
  .card {
    border: 0;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: rgb(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  /* collapsible cards */
  .accordion .card-header {
    background-color: #f8f9fa;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    box-shadow: none;
    border: 1px solid rgba(0,0,0,.125);
    margin-bottom: .5rem;
  }
  .accordion .card-header .material-icons-outlined {
    font-size: 2rem;
    vertical-align: middle;
    margin-right: 1rem;
  }
  .accordion .card {
    border-radius: 0px;
    background-color: transparent;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    box-shadow: none;
  }
  /* footer */
  .footer {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: #fff;
    text-align: center;
    padding: 1rem;
  }