@import url("https://fonts.googleapis.com/css?family=Dosis:100,200,300,400,500,600|Exo+2:100&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #20232c;
  overflow-x: hidden;
  font-family: "Dosis";
  color: #fff;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  z-index: -1;
}

#gradient-bg-1,
#gradient-bg-2 {
  display: block;
}

.container {
  width: 100%;
  height: 90vh;
  padding-top: 10vh;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 5vh 0;
}

.inner {
  width: 60%;
  margin: 0 auto;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

a img {
  opacity: 0.5;
}

h2,
h3 {
  font-weight: 200;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 1rem #fff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 0.8rem;
  margin-bottom: 0;
}

/* scrollbar */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #0cebeb transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #0cebeb;
  border: none;
}

/* bry logo  */

@font-face {
  font-family: "icomoon";
  src: url("../../brylogo/icomoon.eot?o3i7ge");
  src: url("../../brylogo/icomoon.eot?o3i7ge#iefix") format("embedded-opentype"),
    url("../../brylogo/icomoon.ttf?o3i7ge") format("truetype"),
    url("../../brylogo/icomoon.woff?o3i7ge") format("woff"),
    url("../../brylogo/icomoon.svg?o3i7ge#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bry-logo:before {
  content: "\e900";
}

/* navigation */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 50;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  display: none;
}

.icons {
  display: flex;
  justify-content: space-evenly;
}

.nav-icon {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.5rem;
  -webkit-animation: icon-fade-in 2s forwards;
  -o-animation: icon-fade-in 5s forwards;
  animation: icon-fade-in 5s forwards;
  animation-delay: 2s;
  opacity: 0;
  z-index: 50;
  padding: 2rem;
}

.nav-icon:hover {
  cursor: pointer;
  transform: scale(2);
  text-shadow: 0 0 2rem #fff;
  color: #fff;
}

@keyframes icon-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}

.nav-stripe {
  color: #fff;
  width: 0%;
  height: 0.5rem;
  background: #0cebeb;
  background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
  background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
  box-shadow: 0px 0px 20px aqua;
  border-radius: 50%;
  -webkit-filter: blur(0.5px);
  -moz-filter: blur(0.5px);
  -o-filter: blur(0.5px);
  -ms-filter: blur(0.5px);
  filter: blur(0.5px);
  z-index: 5;
  margin: 0 auto;
  -webkit-animation: blink-nav-stripe 2s infinite;
  -o-animation: blink-nav-stripe 2s infinite;
  animation: blink-nav-stripe 2s infinite;
  z-index: 50;
}

.nav-stripe-inner {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-around;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  z-index: 50;
}

.nav-stripe a {
  font-size: 1rem;
  margin-top: 0.4rem;
  color: #20232c;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-shadow: 0 0 2rem rgba(50, 50, 93, 1);
  height: 1rem;
  padding: 2rem 2rem;
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.2)
  );
  border-radius: 0 0% 20% 20%;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.nav-stripe a:hover {
  cursor: pointer;
  transform: scale(1.1);
  text-shadow: 0 0 2rem #fff;
}

@keyframes blink-nav-stripe {
  0% {
    width: 100%;
  }
  50% {
    width: 100%;
    opacity: 0.7;
  }
  100% {
    width: 100%;
  }
}

/* background effects */

.gradient-bg {
  position: fixed;
  width: 0.01vmin;
  height: 0.01vmin;
  border-radius: 50%;
  opacity: 0.25;
}
.gradient-bg:nth-child(2) {
  -webkit-box-shadow: 0 0 100vmax 100vmax #335a74;
  box-shadow: 0 0 100vmax 100vmax #335a74;
  -o-animation: hue 10s 0s linear infinite,
    gradient-start 19s 0s linear infinite;
  -webkit-animation: hue 10s 0s linear infinite,
    gradient-start 19s 0s linear infinite;
  animation: hue 10s 0s linear infinite, gradient-start 19s 0s linear infinite;
}
.gradient-bg:nth-child(3) {
  -webkit-box-shadow: 0 0 45vmax 45vmax #56dcea;
  box-shadow: 0 0 45vmax 45vmax #56dcea;
  -o-animation: hue 15s 0s linear infinite,
    gradient-middle 30s 0s linear infinite;
  -webkit-animation: hue 15s 0s linear infinite,
    gradient-middle 30s 0s linear infinite;
  animation: hue 15s 0s linear infinite, gradient-middle 30s 0s linear infinite;
}
.gradient-bg:nth-child(4) {
  -webkit-box-shadow: 0 0 45vmax 45vmax #04619f;
  box-shadow: 0 0 45vmax 45vmax #04619f;
  -o-animation: hue 20s 0s linear infinite, gradient-end 25s 0s linear infinite;
  -webkit-animation: hue 20s 0s linear infinite,
    gradient-end 25s 0s linear infinite;
  animation: hue 20s 0s linear infinite, gradient-end 25s 0s linear infinite;
}

@-webkit-keyframes hue {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
  }
  100% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
}
@keyframes hue {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
  }
  100% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
}
@-webkit-keyframes gradient-start {
  0% {
    top: 0vh;
    left: 50vw;
  }
  25% {
    left: 0vw;
  }
  50% {
    top: 100vh;
  }
  75% {
    left: 100vw;
  }
  100% {
    top: 0vh;
    left: 50vw;
  }
}
@keyframes gradient-start {
  0% {
    top: 0vh;
    left: 50vw;
  }
  25% {
    left: 0vw;
  }
  50% {
    top: 100vh;
  }
  75% {
    left: 100vw;
  }
  100% {
    top: 0vh;
    left: 50vw;
  }
}
@-webkit-keyframes gradient-middle {
  0% {
    top: 50vh;
    left: 100vw;
  }
  25% {
    top: 100vh;
  }
  50% {
    left: 0vw;
  }
  75% {
    top: 0vh;
  }
  100% {
    top: 50vh;
    left: 100vw;
  }
}
@keyframes gradient-middle {
  0% {
    top: 50vh;
    left: 100vw;
  }
  25% {
    top: 100vh;
  }
  50% {
    left: 0vw;
  }
  75% {
    top: 0vh;
  }
  100% {
    top: 50vh;
    left: 100vw;
  }
}
@-webkit-keyframes gradient-end {
  0% {
    top: 100vh;
    left: 50vw;
  }
  25% {
    left: 100vw;
  }
  50% {
    top: 0vh;
  }
  75% {
    left: 0vw;
  }
  100% {
    top: 100vh;
    left: 50vw;
  }
}
@keyframes gradient-end {
  0% {
    top: 100vh;
    left: 50vw;
  }
  25% {
    left: 100vw;
  }
  50% {
    top: 0vh;
  }
  75% {
    left: 0vw;
  }
  100% {
    top: 100vh;
    left: 50vw;
  }
}

/* landing div */

.landing-title,
.landing-subtitle {
  width: 100%;
  position: relative;
  text-align: center;
  margin-bottom: 3rem;
}

.landing-title {
  height: 3rem;
}

.landing-subtitle {
  height: 2rem;
}

.title {
  letter-spacing: 0.2rem;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 0 1rem #fff, 0 0 5rem #a8ff78, 0 0 10rem #78ffd6;
  font-size: 4rem;
  -webkit-animation: text-fade-in 2s forwards;
  -o-animation: text-fade-in 2s forwards;
  animation: text-fade-in 2s forwards;
  animation-delay: 1.2s;
  opacity: 0;
  text-transform: uppercase;
  font-family: "Exo 2";
  font-weight: 100;
  text-transform: lowercase;
}

.subtitle {
  font-weight: 200;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 1rem #fff;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  animation: text-fade-in 2s forwards;
  animation-delay: 3.2s;
  opacity: 0;
}

@keyframes text-fade-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
    color: #78ffd6;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.mobile-down {
  display: none;
}

/* landing - moving stripes */

.title-stripe {
  width: 0%;
  height: 1.5rem;
  margin-top: 2.2rem;
  position: absolute;
  -webkit-animation: move-stripe 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  -o-animation: move-stripe 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation: move-stripe 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  display: flex;
  background-color: #0499f2;
  background: -webkit-linear-gradient(315deg, #0499f2 0%, #26f596 74%);
  background: linear-gradient(315deg, #0499f2 0%, #26f596 74%);
  box-shadow: 0px 0px 10px aqua;
  border-radius: 95%;
  -webkit-filter: blur(0.5px);
  -moz-filter: blur(0.5px);
  -o-filter: blur(0.5px);
  -ms-filter: blur(0.5px);
  filter: blur(0.5px);
}

.subtitle-stripe {
  width: 0%;
  height: 1rem;
  margin-top: 0.2rem;
  background: #0cebeb;
  background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
  background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
  box-shadow: 0px 0px 20px aqua;
  border-radius: 90%;
  position: absolute;
  -webkit-animation: move-stripe 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  -o-animation: move-stripe 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation: move-stripe 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 2s;
  display: flex;
  -webkit-filter: blur(0.5px);
  -moz-filter: blur(0.5px);
  -o-filter: blur(0.5px);
  -ms-filter: blur(0.5px);
  filter: blur(0.5px);
}

@keyframes move-stripe {
  0% {
    width: 0%;
    left: 0;
    opacity: 0;
  }
  50% {
    width: 100%;
    left: 0;
    opacity: 0.5;
  }
  100% {
    width: 0;
    left: 100%;
    opacity: 0;
  }
}

/* about */
.circle-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
}

.circle {
  color: #fff;
  border-radius: 50%;
  height: 15rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  text-align: center;
  background: radial-gradient(
    circle at top,
    transparent,
    rgba(255, 255, 255, 0.2)
  );
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-weight: 200;
  line-height: 2rem;
  z-index: 6;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

/* skills */

#skills .inner {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-weight: 200;
  line-height: 2rem;
}
#skills p {
  margin-bottom: 1rem;
  margin-top: 0;
}
.progress-bar {
  position: relative;
  height: 2rem;
  width: 80%;
  margin: 2rem auto;
  border-radius: 20px;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 1)
  );
  z-index: 45;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
.progress-bar-inner {
  display: flex;
  color: #20232c;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  height: inherit;
  background: #0cebeb;
  background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
  background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
  box-shadow: 0px 0px 20px aqua;
  position: relative;
  border-radius: 20px 0 0 20px;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
}

.progress-bar-width {
  width: 67%;
}

/* work */
#work {
  width: 100%;
  height: auto;
  padding-top: 25vh;
  padding-bottom: 10vh;
}

/* gallery.css has additional styling */

/* contact */
#contact .inner {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  text-align: left;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-weight: 200;
  line-height: 2rem;
  z-index: 50;
  padding-top: 10vh;
}

#contact span {
  margin-bottom: 2rem;
}

#contact button {
  border: 0;
  padding: 2rem;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  display: flex;
  align-content: center;
  background: #0cebeb;
  background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
  background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
  box-shadow: 0px 0px 20px aqua;
  border-radius: 50%;
  -webkit-filter: blur(0.5px);
  -moz-filter: blur(0.5px);
  -o-filter: blur(0.5px);
  -ms-filter: blur(0.5px);
  filter: blur(0.5px);
  margin: 0 auto 1rem auto;
}

#contact a {
  font-weight: normal;
}

#contact a:hover {
  font-weight: bold;
}

.email {
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
}

.email-button {
  width: 20%;
  margin: 1rem auto 0 auto;
  text-align: center;
}

.email-button:hover {
  color: #20232c;
  text-shadow: 0px 0px 10px #fff;
  font-weight: 500;
}

.email-button:hover button {
  -webkit-animation: blink-button 2s infinite;
  -o-animation: blink-button 2s infinite;
  animation: blink-button 2s infinite;
}

#small-contact {
  display: none;
}

@keyframes blink-button {
  0% {
    box-shadow: 0px 0px 20px aqua;
  }
  50% {
    box-shadow: 0px 0px 50px aqua;
  }
  100% {
    box-shadow: 0px 0px 20px aqua;
  }
}

#contact .links {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

#contact .icon {
  font-size: 1rem;
  color: rgba(0, 255, 255, 0.7);
  -webkit-animation: blink-icon 2s infinite;
  -o-animation: blink-icon 2s infinite;
  animation: blink-icon 2s infinite;
}

@keyframes blink-icon {
  0% {
    text-shadow: 0px 0px 20px aqua;
  }
  50% {
    text-shadow: 0px 0px 50px aqua;
  }
  100% {
    text-shadow: 0px 0px 20px aqua;
  }
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 3rem;
  padding: 2rem;
  -webkit-animation: blink-footer-icon 2s infinite;
  -o-animation: blink-footer-icon 2s infinite;
  animation: blink-footer-icon 2s infinite;
  z-index: 400;
}

footer i {
  color: rgba(32, 35, 44, 0.5);
}

footer i:hover {
  color: rgba(32, 35, 44, 0.8);
}

@keyframes blink-footer-icon {
  0% {
    text-shadow: 0px 0px 50px rgba(255, 255, 255, 0.2);
  }
  50% {
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
  }
  100% {
    text-shadow: 0px 0px 50px rgba(255, 255, 255, 0.2);
  }
}
